body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  
  overflow:auto;
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title {
  margin:8px;
  padding:5px;
  font-size:20px;
  background: #e3f4ff;
}

.content {
  
  padding:5px;
  margin:0px 8px 8px;
  background: #e3f4ff;
}

.button-container {
  text-align:center;
  margin:8px;
  background: #e3f4ff;
  padding:5px 0px;
}

button {
  display:block;
  background: white;
  border: 1px solid #eee;
  margin:0px auto;
  padding:5px 15px;
  
}